<div class="cemetary-card ">
    <div class="text-center">
      <p><b><%= startup.name %></b></p>
      <p><%= startup.birth_year %></p>
      <p><%= startup.death_year %></p>
      <p><%= startup.sector %></p>
      <p><%= startup.fail_reason %></p>
      <h3>R.I.P.</h3>
      <p></p>
  </div>
</div>
