  <div class="startup-card">
    <div class="text-center p-3">
    <%= link_to startup_path(startup) do %>
         <% if startup.logo.present?%>
        <img src="<%= startup.logo %>", class="logo">
        <% else %>
     <img src="https://cdn.dribbble.com/userupload/3499938/file/original-c6341bf029f595d84f1c3f3c99a32f81.jpg?resize=450x338&vertical=center", class="logo">
        <% end %>
     <% end  %>
     <div class=" d-flex flex-column">
       <div class="mt-1 mb-3 up-class">
          <h3 class="p-1 m-0"><b><%= startup.name %></b></h3>
          <h6 class="hide-year"><small><%= startup.birth_year %> - <%= startup.death_year %></small></h6>
       </div>
     </div>
   </div>
</div>
