<div class="startup-detailed-card">
  <%= image_tag("default_picture.jpeg", class: "logo") %>
</div>

<div class="text-center">
  <p><b><%= @startup.name %></b></p>
  <p><%= @startup.founder %></p>
  <p><%= @startup.employees%> employés</p>
  <p><%= @startup.localisation %></p>
  <p><%= @startup.sector %></p>
  <p><%= @startup.fail_reason %></p>
  <h3>R.I.P.</h3>
  <i class="fa-solid fa-cross fa-lg"></i>
</div>
