  <div class="startup-card">
    <div class="text-center p-3">
    <%= link_to startup_path(startup) do %>
         <% if startup.logo.present?%>
        <img src="<%= startup.logo %>", class="logo">
        <% end %>
        <%# <img src="<%= [image_path('logo2.png'), image_path('logo3.png'), image_path('logostartup.jpg')].sample %>
      <%#= startup.logo.exist ? cl_image_tag(startup.logo.key, gravity: "face", :crop => "fill", class:"logo") : image_tag('logo2.png', :crop => "fill",  class:"logo") %>
     <% end  %>
     <div class=" d-flex flex-column">
       <div class="div mt-1 mb-3">
          <h3 class="p-1 m-0"><b><%= startup.name %></b></h3>
          <h6 class=""><small><%= startup.birth_year %> - <%= startup.death_year %></small></h6>
       </div>
     </div>
   </div>
</div>
