<div class="all">
  <div class="container">
    <div class="d-flex">
      <div class="grave-card col-4">
        <div class="card-gray p-5  mt-5">
          <%= render partial: "startup_card", locals: {startup: @startup} %>
        </div>
      </div>
      <div class="infos-card col-8 d-flex justify-content-around p-5 mt-5">

          <div class="card card-white" style="width: 40rem;">
            <div class="card-body ">
            <div class="tiltle-box ">
                <h2 class="card-line-title  text-center"> <b><%= @startup.name %></b></h2>
            </div>

            <p class="card-line ">  <% if @startup.description.present? %>
                  <p class="card-line  text-center">  <span class="text-gray"><em> - <%= @startup.description %> - </em> </span></p>
                  <% else %>
                  <p></p>
                  <% end %>
                </p>

          <div class="tiltle-box ">
              <p class="card-line"> <span class="text-gray"> <b> Informations </b> </span> </p>

              <ul>
                <li class="card-line"><% if @startup.sector.present? %>
                <li  class="card-line"> <span class="text-gray">Secteur : </span> <%= @startup.sector.capitalize %></li>
                <% else %>
                <li  class="card-line"> <span class="text-gray">Secteur </span> : Divers </li>
                <% end %>
              </li>
               <li class="card-line"> <% if @startup.localisation.present? %>
                  <li  class="card-line"> <span class="text-gray"> Position :  </span>  <%= @startup.localisation.capitalize %>, France</li>
                  <% else %>
                  <li class="card-line"> <span class="text-gray"> Position : </span>  Paris, France</li>
                  <% end %>
                </li>
              </ul>
            </div>

             <hr class="thin-line">


              <div class="d--flex">
                <p class="card-line"> <span class="text-gray"> <b> Fondateurs et employés</b> </span> </p>
                  <ul>
                  <li class="card-line "><% if @startup.founder.present? %>
                <li  class="card-line"> <span class="text-gray"> Fondateur principal - </span> <%= @startup.founder %></li>
                <% else %>
                <li  class="card-line"> <span class="text-gray"> Fondateur principal - </span> : Non renseigné </li>
                <% end %>
               <li class="card-line "><% if @startup.founders_number > 0 %>
                <li  class="card-line"> <span class="text-gray"> Nombre de fondateur.s : </span> <%= @startup.founders_number %></li>
                <% else %>
                <li  class="card-line"> </li>
                <% end %>

                  <li  class="card-line"> <span class="text-gray"> Dates : </span> <%= @startup.birth_year %> - <%= @startup.death_year %></li>
                <li class="card-line"> <span class="text-gray">Fourchette d'employés : </span><%= @startup.employees %></li>
                  </ul>
              </div>
                <p class="card-line">
                  <% if @startup.funds >  0 %>
                  <p  class="card-line"> <span class="text-gray"> Funds : </span><%= @startup.funds %> <span class="text-gray"> € </span> </p>
                  <% else %>
                  <p></p>
                  <% end %>
                </p>

                  <% if current_user.projects.present? %>
                  <div>
                    <%= simple_form_for [@startup, @favorite] do |f| %>
                    <button type="submit" , class="btn  btn-special">Enregistrer</button>
                    <% end %>
                  </div>
                  <% end %>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
