<div class="container">
  <div class="d-flex">
     <div class="grave-card col-4">
        <%= render partial: "startup_card", locals: {startup: @startup} %>
     </div>
     <div class="infos-card col-8">
        <div class="">
        <p><b><%= @startup.name %></b></p>
        <p><%= @startup.founder %></p>
        <p><%= @startup.employees_range%> employés</p>
        <p><%= @startup.localisation %></p>
        <p><%= @startup.sector %></p>
        <p><%= @startup.fail_reason %></p>
        <h3>R.I.P.</h3>
        <i class="fa-solid fa-cross fa-lg"></i>
      </div>
     </div>
  </div>
</div>




<%= simple_form_for [@startup, @favorite] do |f| %>
<button type="submit">
 <i class="fa-regular fa-heart fa-lg" style="width: auto"></i>
  </button>

<% end %>
