<% if @level.index == 1 %>
  <p class="game-story">
    L'équipe de <%= @project.name %> commence son aventure entrepreneuriale en cherchant du "Love Money".
    Elle sollicite amis, famille et connaissances locales qui croient en son projet. L'équipe fondatrice organise son premier team-building
    dans le cimetière à la recherche de quelques deniers sur les tombes des startups défuntes.
  </p>
<% elsif @level.index == 2 %>
  <p class="game-story">
    Désormais, l'équipe de <%= @project.name %> se plonge dans l'art délicat de solliciter des subventions publiques.
    Lors de ses rencontres avec Pôle Emploi et BPI France, et alors que la COP28 à Dubaï bat son plein, la startup expose avec conviction comment son projet 2°C compatible, véritable bijou de l'Intelligence Artificielle révolutionnera sa communauté.
  </p>
<% elsif @level.index == 3 %>
  <p class="game-story">
    Heureuse d'avoir récupéré la bourse French Tech, l'équipe de <%= @project.name %> perfectionne sa technologie, mettant en oeuvre des idées novatrices pour résoudre des problèmes locaux. L'impact positif de <%= @project.name %> commence à se faire sentir, attirant l'attention de gros investisseurs qui décident d'investir massivement dans le projet.
  </p>
<% elsif @level.index == 4 %>
  <p class="game-story">
    Cependant, l'équipe de <%= @project.name %> a des aspirations encore plus grandes. Elle envisage d'introduire <%= @project.name %> en bourse pour accéder à des financements substantiels et étendre l'impact de sa startup à une échelle planétaire.
    Suite à la brillante présentation PowerPoint du stagiaire bras-droit du CEO exposant les objectifs de croissance, les actionnaires sont conquis.
<% end %>
