<% if @level.index == 1 %>
  <p class="game-story">
    L'équipe de <%= @project.name %> commence son aventure entrepreneuriale en cherchant du "love money".
    Elle tisse des liens solides avec amis, famille et connaissances locales
    qui croient en son projet.
  </p>
<% elsif @level.index == 2 %>
  <p class="game-story">
    Avec son prototype en main, l'équipe de <%= @project.name %> se tourne vers les subventions publiques pour obtenir un soutien
    financier supplémentaire. Elle présente son projet à Pole Emploi et BPI, mettant en avant
    les avantages que sa startup apporterait à la communauté de son jardin.
    Impressionnées par sa détermination, les institutions publiques accordent à l'équipe de <%= @project.name %>
    des subventions pour développer sa startup.
  </p>
<% elsif @level.index == 3 %>
  <p class="game-story">
    Forts de ces fonds, l'équipe de <%= @project.name %> perfectionne sa technologie, mettant en œuvre des idées
    novatrices pour résoudre des problèmes locaux. L'impact positif de <%= @project.name %> commence à se faire
    sentir, attirant l'attention de gros investisseurs.
    Des entrepreneurs locaux, séduits par le potentiel de croissance de la startup, décident d'investir
    massivement dans le projet.
  </p>
<% elsif @level.index == 4 %>
  <p class="game-story">
    Cependant, l'équipe de <%= @project.name %> a des aspirations encore plus grandes. Elle envisage d'introduire <%= @project.name %>
    en bourse pour accéder à des financements substantiels et étendre l'impact de sa startup à une échelle
    nationale voire internationale. Elle organise des rencontres avec des investisseurs institutionnels et
    présente les succès de <%= @project.name %> ainsi que ses plans de croissance ambitieux.
  </p>
<% end %>
