<div class="container m-0 d-flex flex-column">
  <div class="col-12" data-controller="game" data-game-target="div">
    <div id="level" class="canva" data-project="<%= { name: @project.name, level: @level.index, project_funds: @project.funds, level_funds: @level.funds, level_employees: @level.employees, metrics: @level.metrics, project_employees: @project.employees }.to_json %>">
    </div>
  </div>


  <div class="form-container bg-light col-6 mx-auto mt-3 d-none ">
    <%= simple_form_for [:game, @project, @level], url: project_level_game_project_path(@project, @level), method: :patch, html: { id: 'game-form' } do |f| %>
      <%= f.input :funds,
                  label: "Funds",
                  html: {id: "funds"} %>
      <%= f.input :employees,
                  label: "Employees",
                  required: true,
                  html: {id: "employees"} %>
    </div>
  <div class="form-actions  p-3 d-flex justify-content-center align-items-center d-none">
    <%= f.submit "Analyse de la partie", class: "big-button-neon-green ml-auto", html: {id: "submit"}%>
  </div>


    <% end %>
  </div>
</div>
