<div class="project-card">
  <div class="project-header">
    <h1><%= @project.name %></h1>
  </div>
  <div class="container-box ">
    <div class="box ">
      <h3 class="text-gray text-center"> <b>Ma startup</b> </h3>
        <ul class="list-item">
          <li class="card-text text-center"><em>- <%= @project.description.capitalize|| 'N/A' %> -</em></li>
          <li class="card-text text-center"><span class="text-gray"> <%= @project.localisation.capitalize || 'N/A' %> -  <%= @project.sector.capitalize || 'N/A' %> </span></li>
        </ul>
    </div>

    <hr class="vertical-line">
    <div class="box">
      <div class= "play">
       <% if @project.attempts.count > 0 %>
                <%= link_to 'CONTINUER', project_level_path(@project, @next_level), class: "btn-special" %>

              <% else %>
                <%= link_to 'COMMENCER', project_level_path(@project, @next_level), class: "btn-special" %>
              <% end %>
      </div>
    </div>
  </div>

<div class="col-12 d-flex justify-content-center">
      <div class="card card-favorites bg-white text-center">
        <h5 class="card-header">Mes proches</h5>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <% @favorites.each do |favorite| %>
            <div class="project-wrapper-mini ">
              <%= render "startups/startup_card", startup: favorite.startup %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
  </div>
    <div class="d-flex justify-content-center p-4">
     <%= link_to "Supprimer le projet", project_path(@project), data: {turbo_method: :delete, turbo_confirm: "Etes vous sur ?" }, class: 'btn-special' %>
    </div>
</div>
