<div class="project-card">


  <div class="container-title flex-column">

    <div class="actu-level mt-5">
      <h1> LEVEL <%=  @next_level.index %><h1>
    </div>


<div class="col-12 d-flex justify-content-center">
    <div class="card card-progress bg-white text-center mt-5 mb-5">
      <h3 class="card-header"> MA PROGRESSION</h3>
      <div class="card-body">
        <div class="d-flex justify-content-between">
           <div class="money-box p-3  ">
        <p class=""><%= @project.funds %></p>
        <h1 class="text-center">€</h1>
      </div>

      <div class="money-box p-2">
        <p class=""><%= @project.employees %></p>
        <h1 class="text-center"> EMPLOYES</h1>
      </div>
        </div>
      </div>
    </div>
  </div>



    <div class="play">
      <% if @project.attempts.count > 0 %>
      <%= link_to 'REPRENDRE', project_level_path(@project, @next_level), class: "btn-green-banner btn-play mx-3" %>

      <% else %>
      <%= link_to 'JOUER', project_level_path(@project, @next_level), class: "btn-green-banner btn-play mx-3" %>
      <% end %>
    </div>
  </div>



  <div class="box-title mt-5 mb-3">
       <hr class="my-line mb-3">
      <h2 class="text-gray text-center"> <b><%= @project.name %></b> </h2>
      <ul class="list-item">
        <li class="card-text text-center"><em>- <%= @project.description.capitalize|| 'N/A' %> -</em></li>
        <li class="card-text text-center"><span class="text-gray"> <%= @project.localisation.capitalize || 'N/A' %> -
            <%= @project.sector.capitalize || 'N/A' %> </span></li>
      </ul>
    </div>

  <div class="col-12 d-flex justify-content-center">
    <div class="card card-favorites bg-white text-center mt-5 mb-5">
      <h5 class="card-header">Mes favoris</h5>
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <% @favorites.each do |favorite| %>
          <div class="project-wrapper-mini ">
            <%= render "startups/startup_card", startup: favorite.startup %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
        <hr class="my-line mb-3">
  <div class="d-flex justify-content-center p-4">
    <%= link_to "Supprimer le projet", project_path(@project), data: {turbo_method: :delete, turbo_confirm: "Etes vous sur ?" }, class: 'btn-green-banner mx-3' %>
  </div>
</div>
