<div class="banner mb-2" style="background-image: linear-gradient(to right, rgba(30, 255, 0, 1), rgba(162, 33, 237, 1)),
            url('https://raw.githubusercontent.com/gwittebolle/station_fails/master/app/assets/images/station-fails-background.png');">
 <%#https://raw.githubusercontent.com/gwittebolle/station_fails/master/app/assets/images/station-fails-background.png%>
  <div class="container">

    <div class="d-flex align-items-center mb-4">
      <%= image_tag("logo-station-fails.png", width: 700, class: "img-fluid station ") %>
    </div>
     <h1 class="animate-text text-white mb-4 ">Explorez le cimetière des startups françaises </h1>
     <div class="d-flex justify-content-center mt-5">
  <%= link_to "VISITER LE CIMETIERE", startups_path, class:"btn-special-gray mx-3" %>
<% if user_signed_in? %>
  <% if current_user.projects.last %>
    <%= link_to "DEFIER L'ECHEC", project_path(current_user.projects.last), class:"btn-special-gray mx-3" %>
  <% else %>
    <%= link_to "DEFIER L'ECHEC", new_project_path, class:"btn-special-gray mx-3" %>
  <% end %>
<% else %>
  <%= link_to "DEFIER L'ECHEC", new_user_session_path, class:"btn-special-gray mx-3" %>
<% end %>
  <div>
  </div>
</div>

  </div>


</div>
