<div class="form-container m-0 p-3">
  <div class="row">
    <div class="col-12 col-md-6 m-5 mx-auto offset-lg-3">
      <div class="rounded p-3 shadow form-area">
        <h2 class='text-center'>Prépare ton échec !</h2>
        <%= simple_form_for [@project] do |f|  %>
          <%= f.input :name, label: "Nom de l'idée vouée à l'échec", input_html: {class: "bg-light"} %>
          <%= f.input :sector, label: "Secteur", input_html: {class: "bg-light"} %>
          <%= f.input :description, input_html: {class: "bg-light"} %>
          <%= f.input :localisation, label: "Localisation", input_html: {class: "bg-light"} %>
          <%= f.input :photo, as: :file, input_html: {class: "bg-light"} %>
          <%= f.submit "Valider", class: "form-area button-neon-green" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
