<div class="container-title col-12 flex-column form-new">
<div class= "col-9 mt-3 form-border d-flex flex-column align-items-center">
  <div class="actu-level col-12 m-0 p-0 mt-2 pt-4 d-flex text-center">
    <h1 class="green-level">NOUVELLE PARTIE</h1>
  </div>

  <div class="col-8 m-5 form-new-bg mx-auto offset-lg-3">
    <div class="rounded p-3 shadow form-new">
      <%= simple_form_for [@project] do |f|  %>
        <%= f.input :name, label: "Quelle est le nom de ton idée brillante?", input_html: {class: "form-new-text"} %>
        <%= f.input :sector, label: "Quel secteur?", input_html: {class: "form-new-text"} %>
        <%= f.input :description, label: "Décris en une ligne ton projet", input_html: {class: "form-new-text"} %>
        <%= f.input :localisation, label: "Où seras-tu situé ?", input_html: {class: "form-new-text"} %>
        <%= f.submit "Créer la partie", class: "form-area button-neon-green" %>
      <% end %>
    </div>
  </div>

</div>
</div>
