<!DOCTYPE html>
<html>
  <head>
    <title>StationFails</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
     <%= javascript_include_tag 'banner' %>
  </head>
  <body>
    <%= render "shared/navbar" %>
    <div id="page-container" class="m-0 p-0">
      <%= render "shared/flashes" %>
      <%= yield %>
      <div class="mt-3">
      <%= render "shared/footer" %>
      </div>
    </div>
  </body>
</html>
